pipeline/logdata.json
{
	"name": "logdata",
	"properties": {
		"activities": [
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "logfilename",
					"value": {
						"value": "@concat(formatDateTime(utcnow(),'yyyy-mm-dd'),'_log.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText22",
						"type": "DatasetReference",
						"parameters": {
							"logfilename": {
								"value": "@variables('logfilename')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Metadata1').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "logdetails",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "logdetails",
									"type": "DataFlowReference",
									"parameters": {
										"adfname": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipelinename": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"status": {
											"value": "'@{string('success')}'",
											"type": "Expression"
										},
										"runid": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggername": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logfilename": {
											"value": "'@{variables('logfilename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"sink1": {
											"logfilename": {
												"value": "@variables('logfilename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "logdetailsappend",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "logdetailsappend",
									"type": "DataFlowReference",
									"parameters": {
										"adfname": {
											"value": "'@{pipeline().DataFactory}'",
											"type": "Expression"
										},
										"pipelinename": {
											"value": "'@{pipeline().Pipeline}'",
											"type": "Expression"
										},
										"status": {
											"value": "'@{string('success')}'",
											"type": "Expression"
										},
										"runid": {
											"value": "'@{pipeline().RunId}'",
											"type": "Expression"
										},
										"triggername": {
											"value": "'@{pipeline().TriggerName}'",
											"type": "Expression"
										},
										"logfilename": {
											"value": "'@{variables('logfilename')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"source2": {
											"logfilename": {
												"value": "@variables('logfilename')",
												"type": "Expression"
											}
										},
										"sink1": {
											"logfilename": {
												"value": "@variables('logfilename')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"logfilename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-15T12:10:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}